.dPage.is-editor .is-container {
  min-height: 40px;
  min-width: 120px;
  outline: 1px dashed #bdb9b9;
  margin-bottom: 1px;
  margin-right: 1px;
  padding-bottom: 10px;
  padding-right: 10px;
  position: relative;
}

.dPage {
  min-height: 100%;
}
.dPage.is-editor .is-container:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "拖动组件到此区域";
  /*color: #716d6d;*/
}

.dPage.is-editor .has-children {
  min-height: initial;
  min-width: initial;
  outline: initial;
}
.dPage.is-editor .comp-item {
  outline: 1px solid black;
}

.comp-item + .comp-item {
  margin-right: 1px;
}
.dPage.is-editor .has-children:after {
  content: initial;
}
